.card123 {
    --background: linear-gradient(to left, rgb(242, 155, 223) 0%, rgb(255, 202, 228) 100%);
    width: 450px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: rgb(224, 159, 170);
    background: var(--background);
    position: relative;
    z-index: 1;
    margin-left: 230px;
     
   }
   
   .card123::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: rgb(224, 159, 170);
    background: var(--background);
    transition: opacity .5s;
   }
   
   .card123-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
   }
   
   .card123 .title {
    font-weight: bold;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   .card123:hover::after {
    opacity: 0;
   }
   
   .card123:hover .card-info {
    color: rgb(224, 159, 170);
    transition: color 1s;
   }

   

.peryens{
  background-image: url(main2x.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background-attachment: fixed;
  
}

.contenter{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 150px;
  
}


.card1 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgb(224, 159, 170);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-image: url(f1.jpg);
  background-size: cover;
}



.card1:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(224, 159, 170);
}

.card__content1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.card1:hover .card__content1 {
  transform: rotateX(0deg);
}

.card__title1 {
  margin: 0;
  font-size: 35px;
  color: rgb(224, 159, 170);
  font-weight: 700;
}



.card__description1 {
  margin: 10px 0 0;
  font-size: 15px;
  color: rgb(224, 159, 170);
  line-height: 1.4;
}

/*  */
.card2 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgb(224, 159, 170);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-image: url(f2.jpg);
  background-size: cover;
}



.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(224, 159, 170);
}

.card__content2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.card2:hover .card__content2 {
  transform: rotateX(0deg);
}

.card__title2 {
  margin: 0;
  font-size: 35px;
  color: rgb(224, 159, 170);
  font-weight: 700;
}



.card__description2 {
  margin: 10px 0 0;
  font-size: 15px;
  color: rgb(224, 159, 170);
  line-height: 1.4;
}


 .card3 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px rgb(224, 159, 170);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-image: url(f3.jpg);
  background-size: cover;
}



.card3:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgb(224, 159, 170);
}

.card__content3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.card3:hover .card__content3 {
  transform: rotateX(0deg);
}

.card__title3 {
  margin: 0;
  font-size: 35px;
  color: rgb(224, 159, 170);
  font-weight: 700;
}



.card__description3 {
  margin: 10px 0 0;
  font-size: 15px;
  color: rgb(224, 159, 170);
  line-height: 1.4;
}
